html, body {
    height: 100%;
    margin: 0;
}

body {
        background-image: url('bgpricelist.jpg');
        background-size: cover; /* Mengatur gambar agar menutupi seluruh area */
        background-position: center; /* Mengatur gambar agar terpusat */
        background-repeat: no-repeat; /* Mencegah gambar diulang */
        font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6a6464;
}

header {
    background-color: #333;
    color: #7e4e4e;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.price-list {
    max-width: 800px;
    margin: 0 auto;
    background-color: #cac1c1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #766c6c;
    border-bottom: 2px solid #b39494;
}

tr:nth-child(even) {
    background-color: #b39c9c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
